# Day 8: 30 Days of python programming

## ðŸ’» Exercises - Module 8 Condition
Exercises: Level 1

1. Iterate 0 to 10 using for loop, do the same using while loop.

In [ ]:
# For for loop
print('Using a for loop method')
for i in range(11):
    print(i)



#For while loop
print('\nUsing a while loop')
i = 0
while i <= 10:
    print(i)
    i += 1

2. Iterate 10 to 0 using for loop, do the same using while loop.

In [ ]:
# For for loop
print('Uisng for loop')

for i in range(10, -1, -1):
    print(i)


# For while loop
print('\nUsing a while loop')
i = 10
while i >= 0:
    print(i)
    i -= 1

3. Write a loop that makes seven calls to print(), so we get on the output the following triangle:

In [ ]:
print('Using a for loop to output a triangle')
for i in range(1,8):
    print('*' *i)

4. Use nested loops to create the following:

In [130]:
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

print('printing the above block of #')
for i in range(9):
    print('#' * 9)

printing the above block of #
#########
#########
#########
#########
#########
#########
#########
#########
#########

5. Print the following pattern:

In [ ]:
''' 0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100 
'''
print('Printing the above multiple numbers')
for i in range(11):
    print(f"{i} * {i} = {i}")

6. Iterate through the list, ['Python', 'Numpy','Pandas','Django', 'Flask'] using a for loop and print out the items.

In [121]:
lists = ['Python', 'Numpy','Pandas','Django', 'Flask']
for list in lists:
    print(list)

Python
Numpy
Pandas
Django
Flask

6. Use for loop to iterate from 0 to 100 and print only even numbers

In [ ]:
print('Even numers from 0 to 100')
for i in range(101):
    if i % 2 == 0:
        print(i)

7. Use for loop to iterate from 0 to 100 and print only odd numbers

In [ ]:
print('Odd numbers from 0 to 100')
for i in range(101):
    if i % 2 != 0:
        print(i)

Exercises: Level 2

1. Use for loop to iterate from 0 to 100 and print the sum of all numbers.

In [ ]:
print('Using a for loop to print the sum of numbers from 0 to 100')
total_sum = 0
for i in range(101):
    total_sum += i
print('The sum of all numbers is', total_sum)

2. Use for loop to iterate from 0 to 100 and print the sum of all evens and the sum of all odds.

In [76]:
sum_evens = 0
sum_odds = 0 
for i in range(101):
    if i % 2 == 0:
        sum_evens += i
    else:
        sum_odds += i
print("The sum of odds", sum_odds)
print("The sum of evens", sum_evens)

The sum of odds 2500
The sum of evens 2550

Exercises: Level 3

1. Go to the data folder and use the countries.py file. Loop through the countries and extract all the countries containing the word land.

2. This is a fruit list, ['banana', 'orange', 'mango', 'lemon'] reverse the order using loop.

In [129]:
list =['banana', 'orange', 'mango', 'lemon']
reversed_list = []
for i in range(len(list) -1, -1, -1):
    reversed_list.append(list[i])
print(reversed_list)

['lemon', 'mango', 'orange', 'banana']