# MODULE 5 OF 30 Days of python programming

## ðŸ’» Exercises - Module 5  List, Tuple and Set
**Exercises: Level 1**

1. Declare an empty list

In [ ]:
declared_list = list()

2. Declare a list with more than 5 items

In [ ]:
list = ["Muh'd", 'level', 'Three', 'ADUSTECH', 'Wudil']

3. Find the length of your list

In [ ]:
print(len(list))

4. Get the first item, the middle item and the last item of the list

In [ ]:
first_item = list[0]
print(first_item)           #First item of the list

middle_item = list[2]
print(middle_item)

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ['Mbash', '21', '63', 'single', 'Rumfar shehu kano']
print(mixed_data_types)

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_company = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [ ]:
print(it_company)

8. Print the list using print()

In [ ]:
print(len(it_company))

9. Print the first, middle and last company

In [ ]:
first_it_company = it_company[0]
print(first_it_company)             #printing the first item in the it company list

middle_it_company = it_company[3]
print(middle_it_company)            #printing the middle item in the it company list

last_it_company = it_company[-1]
print(last_it_company)

10. Print the list after modifying one of the companies

In [ ]:
it_company[-2] = 'SpaceX'
print(it_company)           # modifying Oracle with SpaceX

11. Add an IT company to it_companies

In [ ]:
it_company.append('SpaceX')
print(it_company)           # adding SpeceX to the list

12. Insert an IT company in the middle of the companies list

In [ ]:
it_company.insert(4, 'Tecno')
print(it_company)

13. Change one of the it_companies names to uppercase (IBM excluded!)

14. Join the it_companies with a string '#;  '

In [ ]:
joined_it_companies = '#.'.join(it_company)
print(joined_it_companies)

15. Check if a certain company exists in the it_companies list.

In [ ]:
checking = 'facebook' in it_company
print(checking)         # checking if facebook exists it company

16. Sort the list using sort() method

In [ ]:
it_company.sort()
print(it_company)

17. Reverse the list in descending order using reverse() method

In [ ]:
it_company.sort(reverse=True)
print(it_company)

18. Slice out the first 3 companies from the list

In [ ]:
slice_first_three = it_company[:3]
print(slice_first_three)

19. Slice out the last 3 companies from the list

In [ ]:
slice_last_three = it_company[6:]
print(slice_last_three)

20. Slice out the middle IT company or companies from the list

In [ ]:
slice_middle_item = it_company[6]
print(slice_middle_item)

21. Remove the first IT company from the list

In [ ]:
it_company.remove('IBM')
print(it_company)

22. Remove the middle IT company or companies from the list

In [ ]:
it_company.remove('Microsoft')
print(it_company)

23. Remove the last IT company from the list

In [ ]:
it_company.remove('Amazon')
print(it_company)

24. Remove all IT companies from the list

In [ ]:
del it_company

25. Destroy the IT companies list

In [ ]:
it_company.clear
print(it_company)

26. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']
joining = front_end + back_end
print(joining)

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [ ]:
full_stack = joining.copy()
print(full_stack)

full_stack[4] = 'Python'
full_stack[5] = 'SQL'
print(full_stack)

**Exercises: Level 2**

1. The following is a list of 10 students ages:

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [ ]:
# sorting the list ages

ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
ages.sort()
print(ages)

In [ ]:
# Add the min age and the max age again to the list

min_age = min(ages)
max_age = max(ages)

ages.append(min_age)
ages.append(max_age)

print("Updated ages:", ages)

In [ ]:
# Find the median age (one middle item or two middle items divided by two)
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

ages.sort()
print(ages)         #sorting the list 

n = len(ages)           #checking the length of the list

if n % 2 == 0:
    median = (ages[n // 2-1] + ages[n // 2]) / 2        # checking for if the number is even
else:
    median = ages[n // 2]           #checking for if the number is odd

print('Median Age:', median)

In [ ]:
# Find the average age (sum of all items divided by their number )

total_sum = sum(ages)           # adding the total ages

n = len(ages)           # finding the length of the list

average_age = total_sum / n         # finding the average ages using the total sum and the len n
print('Average ages is',average_age)

In [ ]:
# Find the range of the ages (max minus min)

range = max_age - min_age

print('the ranges of teh ages is', range)

In [ ]:
# Compare the value of (min - average) and (max - average), use abs() method

min_difference = abs(min_age - average_age)             # calculating the absolute min difference
max_difference = abs(max_age - average_age)             # calculating the absolute max difference

comparison = 'Min difference is greater than' if max_difference > min_difference else "Max difference is greater than or equal"
print(f'Min difference is {min_difference:2f}')
print(f'Max difference is {max_difference:2f}')
print(comparison)

In [ ]:
# Find the middle country(ies) in the countries list
countries = [
  'Afghanistan',
  'Albania',
  'Algeria',
  'Andorra',
  'Angola',
  'Antigua and Barbuda',
  'Argentina',
  'Armenia',
  'Australia',
  'Austria',
  'Azerbaijan',
  'Bahamas',
  'Bahrain',
  'Bangladesh',
  'Barbados',
  'Belarus',
  'Belgium',
  'Belize',
  'Benin',
  'Bhutan',
  'Bolivia',
  'Bosnia and Herzegovina',
  'Botswana',
  'Brazil',
  'Brunei',
  'Bulgaria',
  'Burkina Faso',
  'Burundi',
  'Cambodia',
  'Cameroon',
  'Canada',
  'Cape Verde',
  'Central African Republic',
  'Chad',
  'Chile',
  'China',
  'Colombi',
  'Comoros',
  'Congo (Brazzaville)',
  'Congo',
  'Costa Rica',
  "Cote d'Ivoire",
  'Croatia',
  'Cuba',
  'Cyprus',
  'Czech Republic',
  'Denmark',
  'Djibouti',
  'Dominica',
  'Dominican Republic',
  'East Timor (Timor Timur)',
  'Ecuador',
  'Egypt',
  'El Salvador',
  'Equatorial Guinea',
  'Eritrea',
  'Estonia',
  'Ethiopia',
  'Fiji',
  'Finland',
  'France',
  'Gabon',
  'Gambia, The',
  'Georgia',
  'Germany',
  'Ghana',
  'Greece',
  'Grenada',
  'Guatemala',
  'Guinea',
  'Guinea-Bissau',
  'Guyana',
  'Haiti',
  'Honduras',
  'Hungary',
  'Iceland',
  'India',
  'Indonesia',
  'Iran',
  'Iraq',
  'Ireland',
  'Israel',
  'Italy',
  'Jamaica',
  'Japan',
  'Jordan',
  'Kazakhstan',
  'Kenya',
  'Kiribati',
  'Korea, North',
  'Korea, South',
  'Kuwait',
  'Kyrgyzstan',
  'Laos',
  'Latvia',
  'Lebanon',
  'Lesotho',
  'Liberia',
  'Libya',
  'Liechtenstein',
  'Lithuania',
  'Luxembourg',
  'Macedonia',
  'Madagascar',
  'Malawi',
  'Malaysia',
  'Maldives',
  'Mali',
  'Malta',
  'Marshall Islands',
  'Mauritania',
  'Mauritius',
  'Mexico',
  'Micronesia',
  'Moldova',
  'Monaco',
  'Mongolia',
  'Morocco',
  'Mozambique',
  'Myanmar',
  'Namibia',
  'Nauru',
  'Nepal',
  'Netherlands',
  'New Zealand',
  'Nicaragua',
  'Niger',
  'Nigeria',
  'Norway',
  'Oman',
  'Pakistan',
  'Palau',
  'Panama',
  'Papua New Guinea',
  'Paraguay',
  'Peru',
  'Philippines',
  'Poland',
  'Portugal',
  'Qatar',
  'Romania',
  'Russia',
  'Rwanda',
  'Saint Kitts and Nevis',
  'Saint Lucia',
  'Saint Vincent',
  'Samoa',
  'San Marino',
  'Sao Tome and Principe',
  'Saudi Arabia',
  'Senegal',
  'Serbia and Montenegro',
  'Seychelles',
  'Sierra Leone',
  'Singapore',
  'Slovakia',
  'Slovenia',
  'Solomon Islands',
  'Somalia',
  'South Africa',
  'Spain',
  'Sri Lanka',
  'Sudan',
  'Suriname',
  'Swaziland',
  'Sweden',
  'Switzerland',
  'Syria',
  'Taiwan',
  'Tajikistan',
  'Tanzania',
  'Thailand',
  'Togo',
  'Tonga',
  'Trinidad and Tobago',
  'Tunisia',
  'Turkey',
  'Turkmenistan',
  'Tuvalu',
  'Uganda',
  'Ukraine',
  'United Arab Emirates',
  'United Kingdom',
  'United States',
  'Uruguay',
  'Uzbekistan',
  'Vanuatu',
  'Vatican City',
  'Venezuela',
  'Vietnam',
  'Yemen',
  'Zambia',
  'Zimbabwe',
];

countries.sort()            # sorting
n = len(countries)
if n % 2 == 0:          #even number of countries
    middle_countries = countries[n //2 - 1:n // 2 + 1]          
else:                   #odd  number of countries
    middle_countries = [countries[n // 2]]          

print('sorted countries:', countries)
print('Middle country(ies):', middle_countries)

In [ ]:
# Divide the countries list into two equal lists if it is even if not one more country for the first half.

mid_point = (len(countries) + 1) // 2           #finding the midpoint
#spliting the countries
first_half = countries[:mid_point]
second_half = countries[mid_point:]

print('First half are', first_half)
print('Second half are', second_half)

In [ ]:
# ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries

first, second, third ,*scandic_coiuntries = countries

print('First Country', first)
print('Second Country', second)
print('Third Country', third)
print('Scandic Couintries are', scandic_coiuntries)

ðŸ’» Tuple Exercises

Tuple Exercises: Level 1

1. Create an empty tuple

In [ ]:
empty_tuple = ()

2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)

In [ ]:
Brothers = ('Ibrahim', 'Sani', 'Mahbub', 'Muqaffa', 'Bashir', 'Isa')

sisters = ('Fatima', 'Aisha', 'Khadija', 'Maryam')

3. Join brothers and sisters tuples and assign it to siblings

In [ ]:
siblings = Brothers + sisters
print(siblings)

4. How many siblings do you have?

In [ ]:
len(siblings)

5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members

In [ ]:
family_members = ('Bashir', 'Hauwa') + siblings
print(family_members)

**Tuple Exercises: Level 2**

1. Unpack siblings and parents from family_members

In [ ]:
parents, *siblings = family_members[:2], family_members[2:]
print("parents:", parents)
print("siblings:", siblings)

2. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.

In [ ]:
fruits = ('apple', 'mango', 'orange', 'banana')
vegetables = ('onion', 'cabbage', 'peppe')
animal_products = ('milk', 'meat')
food_stuff_tp = fruits + vegetables + animal_products
print(food_stuff_tp)

3. Change the about food_stuff_tp tuple to a food_stuff_lt list

In [ ]:
food_stuff_list = list(food_stuff_tp)
print(food_stuff_list)

4. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.

In [ ]:
slicing = food_stuff_tp[:5]
print(slicing)

5. Slice out the first three items and the last three items from food_staff_lt list

In [ ]:
slice_first_3 = food_stuff_list[:3]
print(slice_first_3)
slice_last_3 = food_stuff_list[4:]
print(slice)

6. Delete the food_staff_tp tuple completely

In [ ]:
del food_stuff_tp

7. Check if an item exists in tuple:
Check if 'Estonia' is a nordic country

Check if 'Iceland' is a nordic country

nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

In [ ]:
nordic_countries = ('Denmark', 'Finland','Iceland', 'Norway', 'Sweden')

print('Estonia' in nordic_countries)            # checking if estonia exist in nordiac countries tuple
print('Iceland' in nordic_countries)            # checking if Iceland exist in noriac countries tuple

**Sets Exercises: Level 1**

1. Find the length of the set it_companies

In [ ]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
print(len(it_companies))            # printing the length of the it companies

2. Add 'Twitter' to it_companies

In [ ]:
it_companies.add('Twitter')
print(it_companies)

3. Insert multiple IT companies at once to the set it_companies

In [ ]:
it_companies.update(['Meta', 'Tesla'])
print(it_companies)

4. Remove one of the companies from the set it_companies

In [ ]:
it_companies.remove('Twitter')
print(it_companies)

5. What is the difference between remove and discard

In [ ]:
# Difference is when we want an element that is in set A not in set B and vice versa, while
# Discard is to like to remove or push out an element(s)

**Sets Exercises: Level 2**

1. Join A and B

In [ ]:
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

join = A.union(B)
print(join)

2. Find A intersection B

In [ ]:
intersetion = A.intersection(B)
print(intersetion)

3. Is A subset of B

In [ ]:
subset = A.issubset(B)
print(subset)

4. Are A and B disjoint sets

In [ ]:
disjoint = A.isdisjoint(B)
print(disjoint)

5. Join A with B and B with A

In [ ]:
join_a_b = A.union(B)
join_b_a = B.union(A)

print("A and B:", join_a_b)
print("B and A:", join_b_a)

6. What is the symmetric difference between A and B

In [ ]:
symmetric_diff = A.symmetric_difference(B)
print("symmetric_difference:", symmetric_diff)

7. Delete the sets completely

In [ ]:
del A
del B

**Sets Exercises: Level 3**

1. Convert the ages to a set and compare the length of the list and the set, which one is bigger?

In [ ]:
age = [22, 19, 24, 25, 26, 24, 25, 24]
convert_age_ts = set(age)
print("converted list to set:", convert_age_ts)           #converting the list to a set

compare_set_tl = convert_age_ts.difference(age)     # comparing set to list
print(compare_set_tl)

2. Explain the difference between the following data types: string, list, tuple and set

In [30]:
# String is group of items in bracket with single or double quotes and it is mutable
# List is group of items in a square bracket and it is ordered and changeable
# Tuple is group of items that are ordered and cannot be changed but it allow dupicate members
# Set is a collection of elements that are unordered, un-indexed and unchangeable and duplicate memevers are not allowed

3. I am a teacher and I love to inspire and teach people. How many unique words have been used in the sentence? Use the split methods and set to get the unique words.

In [36]:
sentence = ('I am a teacher and I love to inspire and teach people')

convert = set(sentence.split())
print('converted words:', convert)

len_unique_words = len(convert)

print('length of unique words:', len_unique_words)

converted words: {'inspire', 'I', 'a', 'people', 'and', 'love', 'teach', 'to', 'teacher', 'am'}
length of unique words: 10