# Day 5: 30 Days of python programming

## ðŸ’» Exercises - Module 5
Exercises: Level 1

1. Declare an empty list

In [121]:
declared_list = list()

TypeError: 'list' object is not callable

2. Declare a list with more than 5 items

In [ ]:
list = ["Muh'd", 'level', 'Three', 'ADUSTECH', 'Wudil']

3. Find the length of your list

In [ ]:
print(len(list))

4. Get the first item, the middle item and the last item of the list

In [ ]:
first_item = list[0]
print(first_item)           #First item of the list

middle_item = list[2]
print(middle_item)

5. Declare a list called mixed_data_types, put your(name, age, height, marital status, address)

In [ ]:
mixed_data_types = ['Mbash', '21', '63', 'single', 'Rumfar shehu kano']
print(mixed_data_types)

6. Declare a list variable named it_companies and assign initial values Facebook, Google, Microsoft, Apple, IBM, Oracle and Amazon.

In [ ]:
it_company = ['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon']

7. Print the list using print()

In [ ]:
print(it_company)

8. Print the list using print()

In [ ]:
print(len(it_company))

9. Print the first, middle and last company

In [ ]:
first_it_company = it_company[0]
print(first_it_company)             #printing the first item in the it company list

middle_it_company = it_company[3]
print(middle_it_company)            #printing the middle item in the it company list

last_it_company = it_company[-1]
print(last_it_company)

10. Print the list after modifying one of the companies

In [ ]:
it_company[-2] = 'SpaceX'
print(it_company)           # modifying Oracle with SpaceX

11. Add an IT company to it_companies

In [ ]:
it_company.append('SpaceX')
print(it_company)           # adding SpeceX to the list

['facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon', 'SpaceX', 'SpaceX']

12. Insert an IT company in the middle of the companies list

In [ ]:
it_company.insert(4, 'Tecno')
print(it_company)

['facebook', 'Google', 'Microsoft', 'Apple', 'Tecno', 'IBM', 'Oracle', 'Amazon', 'SpaceX']

13. Change one of the it_companies names to uppercase (IBM excluded!)

14. Join the it_companies with a string '#;  '

In [ ]:
joined_it_companies = '#.'.join(it_company)
print(joined_it_companies)

facebook#.Google#.Microsoft#.Apple#.Tecno#.IBM#.Oracle#.Amazon#.SpaceX

15. Check if a certain company exists in the it_companies list.

In [ ]:
checking = 'facebook' in it_company
print(checking)         # checking if facebook exists it company

True

16. Sort the list using sort() method

In [ ]:
it_company.sort()
print(it_company)

['Amazon', 'Apple', 'Google', 'IBM', 'Microsoft', 'Oracle', 'SpaceX', 'Tecno', 'facebook']

17. Reverse the list in descending order using reverse() method

In [ ]:
it_company.sort(reverse=True)
print(it_company)

18. Slice out the first 3 companies from the list

In [ ]:
slice_first_three = it_company[:3]
print(slice_first_three)

['facebook', 'Tecno', 'SpaceX']

19. Slice out the last 3 companies from the list

In [ ]:
slice_last_three = it_company[6:]
print(slice_last_three)

['Google', 'Apple', 'Amazon']

20. Slice out the middle IT company or companies from the list

In [ ]:
slice_middle_item = it_company[6]
print(slice_middle_item)

Google

21. Remove the first IT company from the list

In [ ]:
it_company.remove('IBM')
print(it_company)

['Tecno', 'SpaceX', 'Oracle', 'Microsoft', 'Google', 'Apple', 'Amazon']

22. Remove the middle IT company or companies from the list

In [ ]:
it_company.remove('Microsoft')
print(it_company)

['Tecno', 'SpaceX', 'Oracle', 'Google', 'Apple', 'Amazon']

23. Remove the last IT company from the list

In [ ]:
it_company.remove('Amazon')
print(it_company)

['Tecno', 'SpaceX', 'Oracle', 'Google', 'Apple']

24. Remove all IT companies from the list

In [ ]:
del it_company

25. Destroy the IT companies list

In [ ]:
it_company.clear
print(it_company)

NameError: name 'it_company' is not defined

26. Join the following lists:

front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']

In [ ]:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']

back_end = ['Node','Express', 'MongoDB']
joining = front_end + back_end
print(joining)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

27. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack, then insert Python and SQL after Redux.

In [129]:
full_stack = joining.copy()
print(full_stack)

full_stack[4] = 'Python'
full_stack[5] = 'SQL'
print(full_stack)

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']
['HTML', 'CSS', 'JS', 'React', 'Python', 'SQL', 'Express', 'MongoDB']